<%= form_with(model: quote, class: "contents") do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item-container">
    <div class="flex-auto px-2">
      <%= form.label :name, class: "visually-hidden" %>
      <%= form.text_field :name, class: "inline-block shadow rounded-md border border-gray-200 outline-none w-full" %>
    </div>

    <%= link_to "Cancel", quotes_path, class: "flex-none btn" %>
    <%= form.submit class: "flex-none btn-primary" %>
  </div>
<% end %>
